<!DOCTYPE html>

<html lang = "ko">
 
<head>
    <meta charset = "UTF-8">  <!---meta data def (데이터 정의) 및 "character set(문자 규칙 설정) -> UTF-8 표준 인코딩 방식 사용"-->
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"> <!--web/app viewer 형식 표준 . 접속 단말기를 위한 최적화 너비 설정-->
</head> <!--name 속성:content 값이 어떤 종류의 정보인지"를 브라우저나 검색 엔진에게 알려주는 '항목 이름(Key)' 역할-->

<body>

<h1> Menu type </h1>
    <button type = "submit">menu0: 커피</button>  <!---"button"-->
    <button type = "submit">menu1: 녹차</button>
    <button type = "submit">menu2: 말차</button>
    <button onclick= 'alert("영업이 종료되었습니다.")'> 배달의 민족 주문 </button>

</body>

</html>